.movies-popup {
  padding: 34px 36px 37px;
  display: flex;
  gap: 14px;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  box-sizing: border-box;
  width: 830px;
  background-color: #202020;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

@media (max-width: 767px) {
  .movies-popup {
    margin-left: 19px;
    margin-right: 19px;
    padding: 25px 22px;
  }
}

.movies-popup__wrapper {
  display: flex;
}

.movies-popup__title {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
}

.movies-popup__main {
  padding-right: 14px;
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 14px;
  border-right: 1px solid #565656;
}

.movies-popup__details {
  padding-left: 14px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
}

.movies-popup__detail {
  margin: 0;
}

.movies-popup__links {
  padding-top: 30px;
  display: flex;
  width: 100%;
  gap: 10px;
  max-height: 50px;
}

.movies-popup__save-btn {
  /*width: 20%;*/
  /*border: 1px solid #f50;*/
  border-radius: 50%;
  width: 50px;
  background: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='30' height='30' rx='15' fill='%23313131'/%3E%3Cpath d='M10.5 9.9C10.5 9.40294 10.9029 9 11.4 9H18.6C19.0971 9 19.5 9.40294 19.5 9.9V20.4789C19.5 20.5552 19.418 20.6034 19.3513 20.5662L16.2168 18.8198C15.4603 18.3984 14.5397 18.3984 13.7832 18.8198L10.6487 20.5662C10.582 20.6034 10.5 20.5552 10.5 20.4789V9.9Z' stroke='%23424242'/%3E%3C/svg%3E%0A") no-repeat center center;
  transition: background .3s ease-in-out, opacity .3s ease-in-out;
  /*width: 20%;*/
}

.movies-popup__save-btn_active {
  background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='30' height='30' rx='15' fill='%233DDC84'/%3E%3Cpath d='M10 9.9C10 9.1268 10.6268 8.5 11.4 8.5H18.6C19.3732 8.5 20 9.1268 20 9.9V20.4789C20 20.9367 19.5079 21.2258 19.108 21.003L15.9734 19.2566C15.3683 18.9195 14.6317 18.9195 14.0266 19.2566L10.892 21.003C10.4921 21.2258 10 20.9367 10 20.4789V9.9Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat center center;
}

.movies-popup__link {
  background: linear-gradient(135deg,#f50 69.91%,#d6bb00);
  border: 0 solid transparent;
  border-radius: 100px;
  color: #fff;
  padding: 15px 26px 15px 22px;
  font-weight: 600;
  width: 70%;
  box-sizing: border-box;
  text-align: center;
  font-size: 18px;
  /*padding: 8px 10px;*/
  /*border: 1px solid #f50;*/
  /*border-radius: 12px;*/
  /*font-size: 14px;*/
  /*color: #f50;*/
}

.movies-popup__description {
  margin: 0;
  padding-top: 20px;
  font-size: 14px;
  text-align: left;
}
