.entry {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.entry__wrapper {
  padding: 20px 0;
  max-width: 396px;
  max-height: 560px;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-self: center;
}

.entry__title {
  margin: 0;
  padding: 40px 0;
  font-size: 24px;
  font-weight: 500;
}

.entry__form {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: space-between;
}

.entry__inputs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.entry__submit-btn {
  margin-bottom: 16px;
  padding: 13px 0 15px;
  width: 396px;
  background-color: #4285F4;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  border-radius: 3px;
}

.entry__caption {
  margin: 0;
  width: 100%;
  display: block;
  font-size: 14px;
  text-align: center;
  color: #8B8B8B;
}

.entry__link {
  margin-left: 6px;
  color: #4285F4;
}

@media (max-width: 576px) {
  .entry {
  }

  .nav_home-btn {
    margin: 0 auto;
  }

  .entry__title {
    padding-top: 50px;
    padding-bottom: 80px;
    text-align: center;
  }

  .entry__wrapper {
    padding: 56px 30px 30px;
    max-height: initial;
    align-self: initial;
  }

  .entry__submit-btn {
    margin-bottom: 14px;
    width: initial;
  }

  .entry__caption {
    font-size: 12px;
  }
}
