.about {
  padding-top: 110px;
  padding-bottom: 142px;
  display: flex;
  flex-direction: column;
}

.about__article {
  max-width: 550px;
}

.about__article-wrapper {
  margin: 70px 0 110px;
  display: flex;
  gap: 40px;
}

.about__article-title {
  margin: 0;
  padding-bottom: 26px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

.about__article-text {
  margin: 0;
  font-size: 14px;
  line-height: 1.43;
}

.about__scheme {
  display: flex;
}

.about__scheme-text {
  margin: 0;
  font-size: 14px;

}

.about__scheme-item {
  position: relative;
  padding-top: 9px;
  padding-bottom: 9px;
  flex-grow: 1;
  line-height: 1.21;
  text-align: center;
}

.about__scheme-item_type_backend {
  flex-basis: 20%;
  background-color: #3DDC84;
  color: #000;
}

.about__scheme-item_type_frontend {
  flex-basis: 80%;
  background-color: #303030;
}

.about__scheme-label {
  position: absolute;
  right: 0;
  bottom: -33px;
  left: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  color: #8B8B8B;
}

@media (max-width: 1024px) {
  .about {
    padding: 90px 50px 122px;
  }

  .about__article-text {
    font-size: 12px;
    line-height: 1.5;
  }

  .about__article-title {
    padding-bottom: 22px;
  }

  .about__article-wrapper {
    margin-bottom: 93px;
  }
}

@media (max-width: 576px) {
  .about {
    padding: 70px 18px 93px;
  }

  .about__article-wrapper {
    margin: 62px 0;
    flex-direction: column;
    gap: 56px;
  }

  .about__article-title {
    padding-bottom: 16px;
    font-size: 18px;
  }

  .about__article-text {
    font-size: 11px;
    line-height: 1.45;
  }

  .about__scheme-item_type_backend {
    flex-basis: 35%;
  }

  .about__scheme-item_type_frontend {
    flex-basis: 65%;
  }

  .about__scheme-text {
    font-size: 11px;
  }

  .about__scheme-label {
    bottom: -25px;
    font-size: 11px;
  }
}
