.navTab {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #272727;
}

.navTab__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  gap: 40px;
}

.navTab__link {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.23;
  text-decoration: underline;
  text-underline-offset: 3px;
}

@media (max-width: 576px) {
  .navTab__list {
    gap: 24px;
  }

  .navTab__link {
    font-size: 11px;
  }
}
