.header_type_landing {
  /*background-color: #073042;*/
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.28);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header__home-btn {
  width: 165px;
  height: 38px;
  display: block;
  /*border-radius: 19%;*/
  background: url("../../../images/logo_new.svg") center no-repeat;
  font-size: 0;
}

.header__wrapper {
  position: relative;
  padding-top: 18px;
  padding-bottom: 18px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .header__wrapper {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
