.btn {
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
  transition: opacity .3s ease-in-out;
  color: #fff;
  text-decoration: none;
  -webkit-tap-highlight-color: rgb(0, 0, 0, 0);
}

.btn:disabled {
  opacity: .5;
}

@media (min-width: 1024px) {
  .btn:hover {
    opacity: .7;
  }
}
