.link {
  transition: opacity .3s ease-in-out;
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: rgb(0, 0, 0, 0);
}


@media (min-width: 1024px) {
  .link:hover {
    opacity: .7;
  }
}
